
/* colours for the module status table cells */

table.status-report td.status-1{
  background-color:red;
  color:white;   
}
table.status-report td.status-2{
  background-color:orange;
  color:black;   
}
table.status-report td.status-3{
  background-color:orange;
  color:black;    
}
table.status-report td.status-4{
  background-color:yellow;
  color:black;  
}
table.status-report td.status-5{
  background-color:green;
  color:white;
}
table.status-report td.status--1{
  background-color:cyan;
  color:black;  
}
table.status-report td.status--2{
  background-color:cyan;
  color:black;  
}

/* update status module installed cell */
td.update-module-false{
  background-color:red;
  color:white;
}